<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Server Error.</h1>
        <h2>A server error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
